{% extends 'base.html' %}

{% block content %}
<h1>{{ model_name }} List</h1>
<a href="{% url 'crud_operations' %}?model={{ model_name }}&action=create">Create New {{ model_name }}</a>
<ul>
    {% for obj in objects %}
        <li>
            {{ obj }}
            <a href="{% url 'crud_operations' %}?model={{ model_name }}&action=update&id={{ obj.id }}">Edit</a> |
            | <a href="{% url 'crud_operations' %}?model={{ model_name }}&action=delete&id={{ obj.id }}">Delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}