<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Details</title>
</head>
<body>
    <h1>{{ discussion.title }}</h1>
    <p><strong>Started by:</strong> {{ discussion.user.username }}</p>

    <h2>Comments</h2>
    <ul>
    {% for comment in comments %}
        <li><strong>{{ comment.user.username }}:</strong> {{ comment.comment_text }}</li>
    {% empty %}
        <li>No comments yet.</li>
    {% endfor %}
</ul>
<a href="{% url 'crud_operations' %}?action=create&model=Comment">Добавить комментарий</a>
    <br>
<a href="{% url 'discussion_list' %}">Вернутся к обсуждениям</a>
</body>
</html>
