{% extends 'base.html' %}

{% block content %}
<h1>Список фильмов</h1>
<ul>
    {% for movie in movies %}
        <li>
            <strong>{{ movie.title }}</strong> - {{ movie.description }}
            <a href="{% url 'movie_detail' movie.id %}">Подробнее</a> |
            <a href="{% url 'movie_update' movie.id %}">Редактировать</a> |
            <a href="{% url 'movie_delete' movie.id %}">Удалить</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'movie_create' %}">Добавить новый фильм</a>
{% endblock %}