{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portfolio</title>
</head>
{% load static %}
<body>
    <h1>Лазовой М. А.</h1>
    <p>Дата рождения: 13.03.2005</p>
    <p>Номер телефона: +375257479022</p>
    <p>О себе: Ничего интересного</p>
    <p>Образование: школа</p>
    <h2>Фото</h2>
    <img src="{% static 'photo/1.png' %}" alt="Photo 1">
    <img src="{% static 'photo/2.png' %}" alt="Photo 2">
</body>
</html>
{% endblock %}